{% extends "base.html" %}

{% load i18n staticfiles bootstrap %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="default">
    <div class="container auth-container">
        <div class="row">

            {% if user.is_authenticated %}
            <div class=" col-sm-offset-3 col-sm-6">
                <form>
                    <fieldset>
                        <legend>{% trans "Sign Out" %}</legend>

                        <p>
                        {% blocktrans with name=user.full_name %}You are already logged in as {{name}}.{% endblocktrans %}
                        </p>
                        <p>{% trans "Please logout if you want to sign in as a different user." %}</p>

                        <a class="btn btn-warning btn-block"
                            href="{% url 'logout' %}?next={{ request.path }}"
                            title="{% trans "Sign out" %}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            {% trans "Sign out" %}
                        </a>
                    </fieldset>
                </form>
            </div>
            {% else %}
                {# Login side #}
                <div class="col-sm-6">
                    <form class="form-horizontal validate" role="form"
                        method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}


                        <fieldset>

                            <legend>{% trans "Sign In" %}</legend>
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                {{ error }}
                                </div>
                                {% endfor %}

                                {% input form.username %}
                                {% input form.password %}

                            <div class="form-group">
                                <div class="col-md-offset-4 col-lg-offset-3 col-md-8 col-lg-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember_me">{% trans "Remember me" %}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
                                </div>
                            </div>
                        </fieldset>

                        <p>
                            {% trans "Forgotton your password ?" %}
                            <a href="{% url "password-reset" %}">{% trans "Recover your password" %}</a>
                        </p>
                    </form>
                </div>

                {# Register side #}
                <div class="col-sm-6">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>{% trans "Sign Up" %}</legend>
                            {# {% if backends.backends %} #}
                            <div class="form-group">
                                <div class="col-md-12">
                                  <p class="form-control-static text-center">{% trans "Sign up a with social account" %}</p>
                                </div>
                            </div>
                            <div class="social-providers-list text-center">
                                <a rel="nofollow" href="{% url "social:begin" "google-oauth2" %}"
                                    alt="{% blocktrans with name="Google" %}Sign up with {{name}}{% endblocktrans %}">
                                    <img src="{% static "images/social-google.png" %}"
                                        alt="{% blocktrans with name="Google" %}Sign up with {{name}}{% endblocktrans %}"
                                    >
                                </a>
                                <a rel="nofollow" href="{% url "social:begin" "twitter" %}"
                                    alt="{% blocktrans with name="Twitter" %}Sign up with {{name}}{% endblocktrans %}">
                                    <img src="{% static "images/social-twitter.png" %}"
                                        alt="{% blocktrans with name="Twitter" %}Sign up with {{name}}{% endblocktrans %}"
                                    >
                                </a>
                                <a rel="nofollow" href="{% url "social:begin" "linkedin-oauth2" %}"
                                    alt="{% blocktrans with name="Linkedin" %}Sign up with {{name}}{% endblocktrans %}">
                                    <img src="{% static "images/social-linkedin.png" %}"
                                        alt="{% blocktrans with name="Linkedin" %}Sign up with {{name}}{% endblocktrans %}"
                                    >
                                </a>
                            </ul>

                            <div class="form-group">
                                <div class="col-md-12">
                                  <p class="form-control-static text-center">{% trans "-- or --" %}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <a href="{% url "social:complete" "no-social" %}" class="btn btn-primary btn-block">
                                        {% trans "Create an account" %}
                                    </a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</fieldset>
{% endblock %}
