{% extends "base.html" %}

{% load i18n staticfiles bootstrap %}

{% block title %}{% trans "Change my password" %}{% endblock %}

{% block content %}
<div class="container auth-container">
{% if validlink %}
    <form class="form-horizontal validate col-md-offset-2 col-md-8" role="form" method="post">
        {% csrf_token %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>



        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
        {{ error }}
        </div>
        {% endfor %}

        {% input form.new_password1 %}
        {% input form.new_password2 %}


        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Change my password" %}</button>
            </div>
        </div>
    </form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
{% endblock %}
