{% extends "base.html" %}

{% load i18n staticfiles bootstrap %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<section class="default">
    <div class="container auth-container">
        <div class="row">


            <form class="form-horizontal validate col-md-offset-2 col-md-8" role="form" method="post">
                {% csrf_token %}


                <fieldset>

                    <legend>{% trans "Reset Password" %}</legend>

                    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                    {{ error }}
                    </div>
                    {% endfor %}

                    {% for field in form %}
                    {% form_field field  %}
                    {% endfor %}


                    <div class="form-group">
                        <div class="col-md-8 col-lg-9 col-md-offset-4 col-lg-offset-3">
                            <p class="form-control-static">
                                <span class="red">*</span>
                                <i>{% trans "required fields" %}</i>
                            </p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block">{% trans "Reset Password" %}</button>
                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock %}
