{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Email validation" %}{% endblock %}

{% block content %}
<section class="default">
    <div class="container">
        <div class="jumbotron">
            <h1>{% trans "Email validation" %}</h1>
            <p>
                {% blocktrans %}A validation mail has been sent to {{ email }}.{% endblocktrans %}
                <br/>
                {% trans "Please check your mails to activate your account" %}
            </p>
        </div>
    </div>
</section>
{% endblock %}
