{% extends "base.html" %}

{% load i18n compressed %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="message">
    <div class="animation"></div>
    <div class="container">
        <div class="jumbotron">
            <h1>{% trans "Registration complete" %}</h1>

            <p>{% blocktrans %}
            Your registration is complete:
            Your account has been activated and you can now contribute by voting or publishing.
            {% endblocktrans %}</p>

            <p>{% blocktrans %}
            You can start by joining an existing organization or create a new one:
            {% endblocktrans %}</p>

            <form role="search" action="{{etalab.HOME_URL}}/{{LANGUAGE_CODE}}/organizations/">
                <div class="form-group input-group input-group-lg">
                    <span class="input-group-btn">
                        <button class="btn" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input id="org-search" name="q" type="search" class="form-control" autocomplete="off"
                        placeholder="{% trans "Search an organization" %}">
                </div>
            </form>

            <p>{% blocktrans %}
            You may find your organization later by navigating into the "Publishers" top menu.
            {% endblocktrans %}</p>

            <p>
                <a class="btn btn-primary btn-lg" href="{{ etalab.HOME_URL }}">
                {% trans "Home" %}
                </a>
                {% if next %}
                <a class="btn btn-primary btn-lg" href="{{next}}">
                {% trans "Continue your browsing" %}
                </a>
                {% endif %}
            </p>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
{% compressed_js "register-done" %}
{% compressed_js "animation" %}
{% endblock %}
