{% extends "base-with-sidebar.html" %}
{% load i18n staticfiles compressed %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-12">
        <p id="claim" class="lead text-center">
        <strong>{% trans "Let's debate facts to make them undebatable" %}</strong>
        </p>
    </div>
</div>

<div class="row first-row">
    <div class="col-md-6">

        {# Home carousel #}
        <div class="panel panel-default">
            <div id="home-carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#home-caroussel" data-slide-to="0" class="active"></li>
                </ol>

                <div class="carousel-inner">

                    <div class="item active">
                        <img src="http://i-cms.journaldesfemmes.com/image_cms/original/1167773.jpg" alt="First slide">
                        <div class="container">
                            <a class="carousel-caption no-decoration" href="http://wiki.etalab2.fr/wiki/L%27%C3%A9galit%C3%A9_Femmes_Hommes">
                            Projet de loi pour l’égalité entre les femmes et les hommes
                            </a>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#home-caroussel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#home-caroussel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        {# Feeds tabs #}
        <div class="feeds panel panel-default">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="#last-datasets" data-toggle="tab">
                        <span class="glyphicon glyphicon-time"></span>
                        {% trans "Last" %}
                    </a>
                </li>
                <li>
                    <a href="#popular-datasets" data-toggle="tab">
                        <span class="glyphicon glyphicon-fire"></span>
                        {% trans "Popular" %}
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-datasets">

                {# Last datasets #}
                <div class="tab-pane active" id="last-datasets">
                    <table class="table table-striped table-hover">
                        {% for dataset in last_datasets %}
                        <tr>
                            <td class="ellipsis">
                                <a href="{% url 'dataset' dataset.name %}" title="{{ dataset.display_name }}">
                                    {{ dataset.display_name }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                {# Popular datasets #}
                <div class="tab-pane" id="popular-datasets">
                    <table class="table table-striped table-hover">
                        {% for dataset in popular_datasets %}
                        <tr>
                            <td class="ellipsis">
                                <a href="{% url 'dataset' slug=dataset.name %}" title="{{ dataset.title }}">
                                    {{ dataset.display_name }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

{# Featured projects #}
<div class="container marketing">
    <div id="featured" class="row featured">
        <div class="col-md-4 col-lg-4 col-sm-6">
            <a href="http://www.lemonde.fr/politique/visuel/2013/07/17/l-impossible-simplification-des-aides-aux-entreprises_3448359_823448.html" class="no-decoration">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Citizens" %}</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{% static 'images/homepage/dataviz-le-monde.png' %}" class="img-responsive"
                            alt="Les aides aux entreprises">
                            <h3>Les aides aux entreprises</h3>
                            <p>
                            Infographie par Le Monde à partir des données brutes ayant fondées le rapport Queyranne-Desmaël-Jürgensen.
                            </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-6">
            <a href="{% url 'dataset' slug='comptage-du-trafic-cub' %}" class="no-decoration">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Public services" %}</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{% static 'images/homepage/logo_lacub.jpg' %}"
                            alt="Communauté Urbaine de Bordeaux" class="img-responsive">
                            <h3>Communauté Urbaine de Bordeaux</h3>
                            <p>
                            Découvrez les 17 nouveaux jeux de données en provenance de la CUB. Orientés mobilité, ils expliquent par exemple l'évolution du trafic routier.
                            </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-6">
            <a href="http://handistrict.com/" target="_blank" class="no-decoration">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Businesses" %}</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{% static 'images/homepage/handistrict.png' %}"
                            alt="Handistrict, la cartographie de l'accessibilité en France" class="img-responsive">
                            <h3>Handistrict, la cartographie de l'accessibilité en France</h3>
                            <p>
                            Hôtels, restaurants, musées, établissements publics, salles de spectacles, ...tous les établissements recevant du public sont représentés sur cette plateforme. L'accessibilité est renseignée pour toutes les formes de handicap : moteur, auditif, visuel et mental.
                            </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% compressed_js "home-js" %}
{% endblock %}
