{% extends "accounts/account_base.html" %}
{% load i18n bootstrap %}

{% block title %}{% trans "Your password" %}{% endblock %}
{% block password-change-menu %}active{% endblock %}

{% block profile-content %}
<div class="page-header">
    <h1>{{ _('Change my password') }}</h1>
</div>

{% block on-done %}{% endblock %}

<form class="form-horizontal validate col-md-offset-1 col-md-10" role="form"
    method="post" action="{% url 'password-change' %}">
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
    {{ error }}
    </div>
    {% endfor %}
    {% csrf_token %}

    {% for field in form %}
    {% form_field field sizes='md-5,lg-4' %}
    {% endfor %}

    <div class="form-group form-control-group">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'profile' slug=user.slug %}" class="btn btn-warning">{% trans "Cancel" %}</a>
        </div>
    </div>
</form>
{% endblock %}

