{% extends "base.html" %}
{% load i18n avatar js %}

{% block title %}{% blocktrans with name=user_profile.full_name %}{{ name }} profile{% endblocktrans %}{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        {% if user == user_profile %}
        <a href="{% url "profile-edit" pk=user.pk %}" class="btn btn-primary btn-sm pull-right">
        <span class="glyphicon glyphicon-edit"></span>
        {% trans "Edit" %}
        </a>
        {% endif %}
        <h1>{{user_profile.full_name}}</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ user_profile.avatar }}
        </div>
        <div class="col-md-9">
            {{ user_profile.first_name }}
            {{ user_profile.last_name }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% css "bower/jcrop/css/jquery.Jcrop.css" %}
{% js "bower/jcrop/js/jquery.Jcrop.js" %}
{% js "js/avatar.js" %}
{% endblock %}
