{% load i18n helpers %}
<div class="card">
    <a class="card-logo" href="{{ organization.url }}">
        <img alt="{{ organization.title|default:organization.name }}"
            src="{{ organization.image_url|default_static:'img/placeholder_producer.png' }}">
    </a>
    <div class="card-body">
        <h4>
            <a href="{{ etalab.HOME_URL}}/{{LANGUAGE_CODE}}/organization/{{ organization.name }}" title="{{organization.title|default:organization.name}}">
            {{ organization.title|default:organization.name }}
            </a>
        </h4>
        {{ organization.description|markdown }}
        <ul class="card-footer">
            <li>
                <a href class="btn btn-xs btn-default" rel="tooltip"
                    data-placement="top" data-container="body"
                    title="{{ _('Number of datasets') }}">
                    <span class="glyphicon glyphicon-stats"></span>
                </a>
                {% blocktrans count nb_dataset=nb_datasets %}{{ nb_datasets }} dataset{% plural %}{{ nb_datasets }} datasets{% endblocktrans %}
            </li>
        </ul>
        <div class="card-text-mask"></div>
    </div>
</div>
