{% load i18n helpers staticfiles markup %}
<div class="card">
    <a class="card-logo" href="{{ organization.url }}">
        <img alt="{{ organization.title|default:organization.name }}"
            src="{{ organization.image_url|default_static:'img/placeholder_producer.png' }}">
    </a>
    {% if organization.certified_public_service %}
        <img src="{% static "img/certified-stamp.png" %}" alt="certified"
            class="certified" rel="popover"
            data-title="{{ _('Certified public service') }}"
            data-content="{{ _('This organization and its datasets are certified by data.gouv.fr') }}"
            data-container="body" data-placement="left" data-trigger="hover"/>
    {% endif %}
    <div class="card-body ellipsis-dot">
        <h4>
            <a href="{{ etalab.HOME_URL}}/{{LANGUAGE_CODE}}/organization/{{ organization.name }}" title="{{organization.title|default:organization.name}}">
            {{ organization.title|default:organization.name }}
            </a>
        </h4>
        <div class="card-description">{{ organization.description|strip_markdown:250 }}</div>
    </div>
    <ul class="card-footer">
        <li>
            <a href class="btn btn-xs btn-default" rel="tooltip"
                data-placement="top" data-container="body"
                title="{{ _('Number of datasets') }}">
                <span class="glyphicon glyphicon-stats"></span>
            </a>
            {% blocktrans count nb=organization.nb_datasets %}{{nb}} dataset{% plural %}{{nb}} datasets{% endblocktrans %}
        </li>
        <li>
            <a href class="btn btn-xs btn-default" rel="tooltip"
                data-placement="top" data-container="body"
                title="{{ _('Number of members') }}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
            {% blocktrans count nb=organization.nb_members %}{{nb}} member{% plural %}{{nb}} members{% endblocktrans %}
        </li>
    </ul>
</div>
