{% extends "site.html" %}

{% set style = 'search' %}
{% set has_ckan = False %}

{% block title %}{% trans %}Search{% endtrans %}{% endblock %}

{% block content %}
<div class="container">

    {% if organizations.results %}
    <h2>{% trans %}Organizations{% endtrans %}</h2>
    <ul class="search-results">
        {% for organization in organizations.results %}
        {% include "widgets/organization-search-result.html" %}
        {% endfor %}
    </ul>

        {% if organizations.total > organizations.results|length %}
        <p class="text-center">
            <a class="btn btn-default" href="{{ url(lang, 'organization') }}?{{ query_string }}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans total=organizations.total %}See the {{ total }} results{% endtrans %}
            </a>
        </p>
        {% endif %}
    {% endif %}

    {% if datasets.results %}
    <h2>{% trans %}Datasets{% endtrans %}</h2>
    <ul class="search-results">
        {% for dataset in datasets.results %}
        {% include "widgets/dataset-search-result.html" %}
        {% endfor %}
    </ul>

        {% if datasets.total > datasets.results|length %}
        <p class="text-center">
            <a class="btn btn-default"  href="{{ url(lang, 'dataset') }}?{{ query_string }}&page=2">
            <span class="glyphicon glyphicon-list"></span>
            {% trans total=datasets.total %}See the {{ total }} results{% endtrans %}
            </a>
        </p>
        {% endif %}
    {% endif %}

    {% if topics.results %}
    <h2>{% trans %}Topics{% endtrans %}</h2>
    <ul class="search-results">
        {% for topic in topics.results %}
        <li class="search-result topic-result">
            <span class="glyphicon glyphicon-info-sign pull-left"></span>
            <h4>
                <a href="{{ WIKI_URL }}/{{ topic.title }}" title="{{ topic.title }}">
                    {{ topic.title }}
                </a>
            </h4>
        </li>
        {% endfor %}
    </ul>
        {% if topics.more %}
        <p class="text-center">
            <a class="btn btn-default" href="{{ WIKI_URL }}?search={{search_query}}">
            <span class="glyphicon glyphicon-list"></span>
            {% trans %}See all the results{% endtrans %}
            </a>
        </p>
        {% endif %}
    {% endif %}

    {% if questions.results %}
    <h2>{% trans %}Questions{% endtrans %}</h2>
    <ul class="search-results">
        {% for question in questions.results %}
        <li class="search-result question-result">
            <span class="glyphicon glyphicon-question-sign pull-left"></span>
            <h4>
                <a href="{{question.url}}" title="{{question.title}}">
                    {{ question.title }}
                </a>
            </h4>
        </li>
        {% endfor %}
    </ul>
        {% if questions.total > questions.results|length %}
        <p class="text-center">
            <a class="btn btn-default" href="{{ QUESTIONS_URL }}/questions/query:{{search_query}}/">
            <span class="glyphicon glyphicon-list"></span>
            {% trans total=questions.total %}See the {{ total }} results{% endtrans %}
            </a>
        </p>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
