{% load i18n %}
<nav id="sidebar" class="panel">

    {# Public data presentation #}
    <div class="panel-heading">
        <a href data-toggle="collapse" data-target="#public-data-panel">{% trans "Public data" %}</a>
    </div>

    <div id="public-data-panel" class="panel-body collapse in">
        <ul class="list-unstyled">
            <li><a href="http://wiki.etalab2.fr/wiki/FAQ">{% trans "How it works ?" %}</a></li>
            <li><a href="{#{ url(lang, 'organization') }#}">{% trans "Publishers" %}</a></li>
            <li>
                <a href="http://www.etalab.gouv.fr/pages/licence-ouverte-open-licence-5899923.html">
                    {% trans "Open license" %}
                </a>
            </li>
            <li><a href="http://www.etalab.gouv.fr/">ETALAB</a></li>
        </ul>
    </div>

    {# Groups #}
    <div class="list-group">
        {% for title, icon, link in etalab.MENU_TOPICS %}
        <a class="list-group-item" href="{{ link }}">
            <span class="icon icon-{{icon}}"></span>
            {{ title }}
        </a>
        {% endfor %}
    </div>

</nav>
