{% extends "base.html" %}

{% load i18n staticfiles bootstrap %}

{% block title %}{% trans "Forbidden" %}{% endblock %}

{% block content %}
<section class="default">
    <div class="container">
        <div class="jumbotron card">
            <h1>{% trans "Forbidden (403)" %}</h1>

            <p>{% trans "You are not allowed to see this page" %}</p>

            <p>
                <a class="btn btn-primary btn-lg" role="button" href="{{ etalab.HOME_URL }}">
                {% trans "Home" %}
                </a>
            </p>

        </div>
    </div>
</section>
{% endblock %}
