{% extends "base.html" %}

{% load i18n staticfiles bootstrap compressed %}

{% block title %}{% trans "Server error" %}{% endblock %}

{% block content %}
<section class="error">
    <div class="animation"></div>
    <div class="container">
        <div class="jumbotron">
            <h1>{% trans "Server error (500)" %}</h1>

            <p>{% trans "An error occured while processing this request." %}</p>
            <p>{% trans "The administrator have been notified" %}</p>
            {% if request.sentry.id %}
            <p>
                {% blocktrans with sentry_id=request.sentry.id %}If you need assistance,
                you may reference this error as <strong>{{ sentry_id }}</strong>.
                {% endblocktrans %}
            </p>
            {% endif %}

            <p>
                <a class="btn btn-primary btn-lg" role="button" href="{{ etalab.HOME_URL }}">
                {% trans "Home" %}
                </a>
            </p>

        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
{% compressed_js "animation" %}
{% endblock %}
