{% extends "base.html" %}

{% load i18n staticfiles bootstrap %}

{% block title %}{% trans "Server error" %}{% endblock %}

{% block content %}
<section class="default">
    <div class="container">
        <div class="jumbotron card">
            <h1>{% trans "Server error (500)" %}</h1>

            <p>{% trans "An error occured while processing this request." %}</p>
            <p>{% trans "The administrator have been notified" %}</p>

            <p>
                <a class="btn btn-primary btn-lg" role="button" href="{{ etalab.HOME_URL }}">
                {% trans "Home" %}
                </a>
            </p>

        </div>
    </div>
</section>
{% endblock %}
