{% load staticfiles js compressed i18n helpers %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{LANGUAGE_CODE}}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{LANGUAGE_CODE}}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{LANGUAGE_CODE}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{LANGUAGE_CODE}}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Données ouvertes françaises">
    <meta name="author" content="ETALAB">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %} - Etalab2.fr</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    {# Reference to other Etalab sites #}
    <meta name="domain" content="{{ etalab.DOMAIN }}" />
    <link rel="home" href="{{ etalab.HOME_URL }}" />
    <link rel="wiki" href="{{ etalab.WIKI_URL }}" />
    <link rel="wiki-api" href="{{ etalab.WIKI_API_URL }}" />
    <link rel="questions" href="{{ etalab.QUESTIONS_URL }}" />

    {# Default style to site, overridden by child templates #}
    {% compressed_css "youckan" %}

    {% compressed_js "modernizr" %}

    <!--[if lt IE 9]>
        {% compressed_js "jquery-legacy" %}
    <![endif]-->
    <!--[if gte IE 9]><!-->
        {% compressed_js "jquery" %}
    <!--<![endif]-->


</head>
<body>

    {% include "navbar.html" %}

    {% for message in messages %}
    <div class="alert alert-dismissable {{ message|alert_class }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="full-container">
        {% block content %}{% endblock %}

        <hr/>
        <footer>
            <p class="pull-right"><a href="#">{% trans "Back to top" %}</a></p>
            <p>
                &copy; 2013 ETALAB, Inc. &middot;
                <a href="#">{% trans "Privacy" %}</a> &middot;
                <a href="#">{% trans "Terms" %}</a>
            </p>
        </footer>

    </div>


    {# Load scripts after for faster page loading #}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% compressed_js "youckan-common" %}
    {% block javascript %}{% endblock %}

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http")
    + "://webstats.easter-eggs.com/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "30"]);
        var d=document, g=d.createElement("script"),
    s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js";
    s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
</body>
</html>
