{% load staticfiles i18n %}
<section class="footer">
    <div class="container">
        <footer class="row">

            <div class="col-sm-3 col-md-2 col-lg-2">
                <h5>{{ _('The Open Data') }}</h5>
                <ul>
                    <li><a href="http://wiki.etalab2.fr/wiki/FAQ">{{ _('How it works ?') }}</a></li>
                    <li><a href="{{ etalab.HOME_URL }}/{{ LANGUAGE_CODE }}/organization">{{ _('Publishers') }}</a></li>
                    <li>
                        <a href="http://www.etalab.gouv.fr/pages/licence-ouverte-open-licence-5899923.html">
                            {{ _('Open license') }}
                        </a>
                    </li>
                    <li><a href="http://www.etalab.gouv.fr/">Etalab</a></li>
                    <li><a href="http://wiki.etalab2.fr/wiki/Cr%C3%A9dits">{{ _('Credits') }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2">
                <h5>{{ _('Topics') }}</h5>
                <ul>
                    {% for topic in etalab.MENU_TOPICS %}
                    <li>
                        <a href="{{ topic.url }}">
                            {{ topic.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-3 col-md-2 col-lg-2">
                <h5>{{ _('Network') }}</h5>
                <ul>
                    <li><a href="http://www.gouvernement.fr/">Gouvernement.fr </a></li>
                    <li><a href="http://www.france.fr/">France.fr</a></li>
                    <li><a href="http://www.legifrance.gouv.fr/">Legifrance.gouv.fr </a></li>
                    <li><a href="http://www.service-public.fr/">Service-public.fr</a></li>
                    <li><a href="http://opendatafrance.net/">Opendata France</a></li>
                </ul>
            </div>

            <div class="col-sm-3 col-md-4 col-lg-4">
                <h5>{{ _('Contact') }}</h5>
                <ul>
                    <li><a href="https://twitter.com/Etalab">Twitter</a></li>
                    <li><a href="mailto:info@data.gouv.fr">info@data.gouv.fr</a></li>
                </ul>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <img class="logo" src="{% static "img/etalab-logo.png" %}"></img>
                <p>&copy; 2013 ETALAB</p>
            </div>

            <p class="bottom-right"><a href="#">{% trans "Back to top" %}</a></p>

        </footer>
    </div>
</section>
