{% load i18n helpers avatar %}
<section class="header">
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <header class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse, .subnav-collapse, .sidebg-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ etalab.HOME_URL }}">Etalab2.fr</a>
                <p class="navbar-text pull-right">{% trans "Open platform for french public data" %}</p>
            </header>
        </nav>
    </div>
</section>

<section class="topmenu collapse navbar-collapse">
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul class="nav navbar-nav links">
                <li><a href="{{ etalab.HOME_URL }}/{{LANGUAGE_CODE}}/" title="{{ _('Home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="{{ etalab.WIKI_URL }}/FAQ">{% trans "How it works ?" %}</a></li>
                <li><a href="{{ etalab.HOME_URL }}/{{LANGUAGE_CODE}}/organization">{% trans "Publishers" %}</a></li>
                <li>
                    <a href="http://wiki.data.gouv.fr/wiki/Licence_Ouverte_/_Open_Licence">
                        {{ _('Open Licence') }}
                    </a>
                </li>
                <li><a href="{{ etalab.HOME_URL }}/{{LANGUAGE_CODE}}metrics">{% trans "Metrics" %}</a></li>
                <li><a href="http://pfee.leaftr.com">Activiz</a></li>
                <li><a href="http://www.etalab.gouv.fr/">ETALAB</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown user">
                        <button class="btn-link dropdown-toggle" data-toggle="dropdown">
                            {% avatar user 30 %}
                            <span class="username">{{ user.full_name }}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'profile' slug=user.slug %}", title="{% trans "Profile" %}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    {% trans "Profile" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'profile-edit' %}", title="{% trans "Settings" %}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    {% trans "Settings" %}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'logout' %}" title="{% trans "Log out" %}">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    {% trans "Log out" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}?next={{ request.path }}"
                            title="{% trans "Sign In / Sign Up" %}">
                            <span class="glyphicon glyphicon-log-in"></span>
                            {% trans "Sign In / Sign Up" %}
                        </a>
                    </li>
                {% endif %}
                {% if user and has_ckan %}
                <li>
                    <a id="advanced-button" class="btn btn-dark navbar-btn" title="{% trans "Advanced mode" %}"
                        href="{{ CKAN_URL|safe }}{{ current_location|safe }}">
                        <span class="icon icon-shop"></span>
                    </a>
                </li>
                {% endif %}
                <li class="dropdown language">
                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        <img src="{{LANGUAGE_CODE|flag_url}}" alt="Current locale flag" />
                    </button>
                    <ul class="dropdown-menu">
                        {% for code, name in LANGUAGES %}
                        <li>
                            <a class="postable" href="{% url "set_language" %}"
                                data-field-name="language" data-field-value="{{code}}">
                                <img src="{{code|flag_url}}" alt="{{name}} flag" />
                                {{name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>
