{% load i18n %}
<nav class="navbar navbar-static-top navbar-subnav" role="navigation">
    <div class="container">
        <div class="cover-marianne"></div>

        <div class="search_bar">

            <form class="navbar-form" role="search" action="{{etalab.HOME_URL}}/{{LANGUAGE_CODE}}/search">
                <div class="form-group col-sm-4 col-md-4 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                        <input id="search-input" name="q" type="search" class="form-control" autocomplete="off"
                                placeholder="{% trans "Search" %}" value="{{search_query}}">
                    </div>
                </div>

                <div class="form-group col-sm-2 col-md-2 col-lg-3 col-xs-12 collapse subnav-collapse">
                    <div id="where-group" class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-globe"></span>
                        </span>
                        <input id="where-input" type="search" class="form-control" autocomplete="off"
                                placeholder="{% trans "Where" %}">
                        <input id="ext_territory" name="ext_territory" type="hidden" />
                    </div>
                </div>
            </form>

            <div class="form-group col-sm-2 col-md-2 col-lg-3 col-xs-12">
                <button class="dropdown-toggle btn-block btn-light" data-toggle="dropdown">
                    {% trans "Topics" %}
                    <span class="glyphicon glyphicon-chevron-down pull-right hidden-sm"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="topics">
                    {% for topic in etalab.MENU_TOPICS %}
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{ topic.url }}">
                            {{ topic.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-3 col-xs-12 collapse subnav-collapse">
                <a class="btn btn-primary btn-dark btn-block"
                        title="{% trans "Publish a dataset !" %}"
                        href="{{etalab.HOME_URL}}/{{LANGUAGE_CODE}}/dataset/new">
                    <span class="glyphicon glyphicon-plus"></span>
                    {% trans "Publish a dataset !" %}
                </a>
            </div>
        </div>


    </div>
</nav>
