<!-- Piwik -->{% if error %}<!-- {{ error}} -->{% else %}
<script type="text/javascript">
  var _paq = _paq || [];
  {% if domain %}
  _paq.push(["setCookieDomain", "*.{{domain}}"]);
  _paq.push(["setDomain", "*.{{domain}}"]);
  {% endif %}
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{url}}/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "{{site_id}}"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
{% endif %}<!-- End Piwik Code -->
